*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes circularPathOpen {
  0% {
    -webkit-clip-path: circle(0% to top at bottom);
            clip-path: circle(0% to top at bottom);
  }
  100% {
    -webkit-clip-path: circle(250% at top to bottom);
            clip-path: circle(250% at top to bottom);
  }
}
@keyframes circularPathClose {
  0% {
    -webkit-clip-path: circle(250% to bottom at top);
            clip-path: circle(250% to bottom at top);
  }
  100% {
    -webkit-clip-path: circle(0% at bottom to top);
            clip-path: circle(0% at bottom to top);
  }
}
@keyframes saveIconAnim {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-15deg);
  }
}
@keyframes arrowDown {
  0% {
    transform: translateY(-7px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes loader {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes transpAnim {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
HTML {
  --lightGray: hsl(0, 0%, 75%);
  --midGray: hsl(0, 0%, 50%);
  --darkGray: hsl(0, 0%, 25%);
  --blackOff: rgb(38, 38, 38);
  --whiteOff: rgb(217, 217, 217);
  --fs_xl: 1.8rem;
  --fs_x: 1.5rem;
  --fs_g: 1.2rem;
  --fs_n: 1rem;
  --fs_s: 0.8rem;
  --fs_xs: 0.6rem;
  --t_uf: all 250ms ease;
  --t_f: all 500ms ease;
  --t_m: all 750ms ease;
  --t_s: all 1000ms ease;
  --paddingXS: 0.25rem;
  --paddingS: 0.5rem;
  --paddingM: 1rem;
  --paddingL: 1.5rem;
  --paddingX: 2rem;
  --paddingXX: 2.5rem;
  --mb_d: -3rem;
  --mb_s: 3rem;
  --quanticoFont: "Quantico", sans-serif;
  --titilliumFont: "Titillium Web", sans-serif;
  --bt_pd: 0.5rem;
  width: 100%;
  height: 100vh;
  --fs: 12px;
  line-break: loose;
  letter-spacing: 0.15rem;
  line-height: 1;
  scroll-behavior: smooth;
  font-size: 100%;
}

.light_theme {
  --tc: rgb(25, 25, 25);
  --tc_c: rgb(225, 225, 255);
  --bgC: rgb(225, 225, 255);
  --fc: hsl(200, 90%, 50%);
  --sc: hsl(200, 90%, 35%);
  --input_bg: rgb(220, 220, 250);
  --logo_fc: hsl(0, 0%, 90%);
  --logo_sc: red;
  --bgG: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  --is: rgba(35, 35, 35, 0.5);
  --bgM_g: linear-gradient(rgb(225, 225, 255, 0.8), transparent, rgb(225, 225, 255, 0.6)), url("/src/img/pixels_light.jpg") no-repeat center center;
  --nvc: rgb(245, 245, 245, 0.8);
  --nvc_h: rgb(240, 240, 240, 0.9);
  --tc_m: rgb(25, 25, 25);
}

.dark_theme {
  --tc: rgb(225, 225, 255);
  --tc_c: rgb(25, 25, 25);
  --bgC: rgb(25, 25, 25);
  --fc: hsl(155, 100%, 40%);
  --sc: hsl(155, 100%, 50%);
  --input_bg: rgb(0, 0, 40);
  --logo_fc: hsl(0, 0%, 90%);
  --logo_sc: red;
  --bgG: linear-gradient(to top, #09203f 0%, #537895 100%);
  --bgM_g: linear-gradient(black, transparent, black), url("/src/img/pixels_dark.jpg") no-repeat center center;
  --is: rgba(220, 220, 220, 0.25);
  --nvc: rgb(10, 10, 10, 0.8);
  --nvc_h: rgb(15, 15, 15, 0.9);
  --tc_m: rgb(225, 225, 255);
}

BODY {
  position: relative;
  color: var(--tc);
  background: var(--bgC);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  font-size: var(--fs);
  font-family: var(--titilliumFont);
  overflow: hidden;
}
BODY IMG {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
BODY A {
  display: block;
  background: none;
  text-decoration: none;
  color: inherit;
}
BODY A:visited,
BODY A:focus,
BODY A:active {
  color: unset;
}
BODY UL {
  list-style: none;
}
BODY BUTTON {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}
BODY SVG {
  height: 100%;
  width: auto;
}
BODY SPAN {
  display: block;
}
BODY H1,
BODY H2 {
  text-align: center;
}
BODY H1 {
  font-size: var(--fs_xl);
}
BODY H2 {
  font-size: var(--fs_g);
}
BODY H3 {
  font-size: var(--fs_n);
  color: var(--midGray);
}
BODY P {
  font-size: var(--fs_n);
}
BODY TEXTAREA,
BODY INPUT {
  background: var(--input_bg);
  padding: 0.5rem 1rem;
  border: none;
  color: var(--tc);
  font-size: var(--fs_s);
}
BODY INPUT[type=number] {
  width: 2rem;
  height: 2rem;
  padding: 0;
  text-align: center;
  color: var(--tc);
}
BODY INPUT[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
BODY LABEL {
  font-size: var(--fs_s);
}
BODY INPUT[type=color]:disabled {
  cursor: not-allowed;
  filter: grayscale(0.8);
}

.ePointer {
  position: absolute;
}

.opening {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: var(--nvc_h);
  z-index: 50;
  display: flex;
}
.opening .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.opening .logo {
  height: auto;
}
.opening .loader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  height: 4rem;
  width: auto;
}
.opening .loader .pixel_loader {
  width: 1rem;
  height: 1rem;
  background: var(--fc);
}
.opening .loader .item_1 {
  animation: loader 1000ms linear infinite forwards;
}
.opening .loader .item_2 {
  animation: loader 1000ms linear 500ms infinite forwards;
}
.opening .loader .item_3 {
  animation: loader 1000ms linear 1000ms infinite forwards;
}
.opening .loader .item_4 {
  animation: loader 1000ms linear 1500ms infinite forwards;
}
.opening .loader .item_5 {
  animation: loader 1000ms linear 2000ms infinite forwards;
}
.opening .loader .item_6 {
  animation: loader 1000ms linear 2500ms infinite forwards;
}

.frcc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.note {
  color: var(--fc);
  font-size: var(--fs_xs);
  padding: 1rem 0;
  text-align: center;
}

.logo {
  height: auto;
  width: auto;
  padding: 1rem;
  font-size: var(--fs_x);
  font-family: var(--quanticoFont);
}
.logo .accent {
  color: var(--fc);
}

.label_btn {
  font-size: var(--fs_s);
}

.title {
  color: var(--fc);
}

.anim_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.anim_btn .icons_container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 1rem;
}
.anim_btn .icon_container {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  top: 50%;
  left: 0;
  animation: transpAnim 1s ease-in-out infinite;
}

.btn {
  padding: 0.75rem 1rem;
  min-width: 4rem;
  border-radius: 2rem;
  background: var(--fc);
  font-weight: 600;
  color: var(--tc_c);
  fill: var(--tc_c);
  transition: var(--t_uf);
}
.btn:hover, .btn:active, .btn:focus {
  background: var(--sc);
}

.anim_arrow_bw .arrow_step_1 {
  opacity: 0;
  animation-delay: 600ms;
  transform: translate(0, -50%);
}
.anim_arrow_bw .arrow_step_2 {
  opacity: 0;
  animation-delay: 400ms;
  transform: translate(0.5rem, -50%);
}
.anim_arrow_bw .arrow_step_3 {
  opacity: 0;
  animation-delay: 200ms;
  transform: translate(1rem, -50%);
}

.anim_arrow_fw .arrow_step_1 {
  opacity: 0;
  animation-delay: 200ms;
  transform: translate(0rem, -50%);
}
.anim_arrow_fw .arrow_step_2 {
  opacity: 0;
  animation-delay: 400ms;
  transform: translate(0.5rem, -50%);
}
.anim_arrow_fw .arrow_step_3 {
  opacity: 0;
  animation-delay: 600ms;
  transform: translate(1rem, -50%);
}

.icon_container {
  width: 100%;
  height: 100%;
  /* .icon_svg {
      fill: var(--tc);
  } */
}

.number_inp_control {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.25rem;
}
.number_inp_control .number_btn {
  height: 2rem;
  width: 2rem;
  fill: var(--tc);
  overflow: hidden;
  background: var(--input_bg);
}
.number_inp_control .number_btn .icon_container {
  padding: 0.5rem;
}
.number_inp_control .number_btn:hover, .number_inp_control .number_btn:active, .number_inp_control .number_btn:focus {
  background: var(--fc);
}
.number_inp_control .add_btn {
  border-radius: 0 1rem 1rem 0;
}
.number_inp_control .subtract_btn {
  border-radius: 1rem 0 0 1rem;
}
.number_inp_control .number_inp_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  text-align: center;
}

.checkbox_control {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding-top: 1rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.checkbox_control input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox_control .label_input {
  width: auto;
  max-width: calc(100% - 5rem);
  font-size: var(--fs_xs);
}
.checkbox_control .checkmark {
  position: relative;
  height: 2rem;
  width: 4rem;
  border-radius: 2rem;
  background: var(--darkGray);
  transition: all 500ms ease;
  margin-left: 0.5rem;
}
.checkbox_control .checkmark_after {
  position: absolute;
  left: 5px;
  top: 50%;
  border-radius: 2rem;
  transform: translate(0, -50%);
  width: 1rem;
  height: 1rem;
  background: white;
  transition: all 500ms ease-in-out;
}
.checkbox_control:hover input ~ .checkmark {
  background-color: #ccc;
}
.checkbox_control input:checked ~ .checkmark {
  background: var(--fc);
}
.checkbox_control input:checked ~ .checkmark .checkmark_after {
  transform: translate(2.5rem, -50%);
}
.checkbox_control:hover input:checked ~ .checkmark, .checkbox_control:active input:checked ~ .checkmark, .checkbox_control:focus input:checked ~ .checkmark {
  background: var(--sc);
}

.radio_control input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.radio_control input:checked .radio_control {
  background: var(--fc);
}
.radio_control input:checked .radio_control .icon_container {
  fill: var(--tc_c);
}

.text_control {
  margin-top: 2rem;
  width: 100%;
}
.text_control LABEL {
  margin-bottom: 0.5rem;
}
.text_control INPUT {
  width: 100%;
}

.action_btn {
  height: 3.5rem;
  width: auto;
  min-width: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.action_btn SPAN {
  display: block;
}
.action_btn .icon_container {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
}
.action_btn .icon_container .icon_svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.download_btn .icon_container {
  height: auto;
}
.download_btn .icon_container .icon_svg {
  transform: translateY(-7px);
  animation: arrowDown 1000ms ease-in-out infinite, transpAnim 1000ms ease-in-out infinite;
}

.save_art_btn .icon_container {
  width: 1.2rem;
  height: 1.2rem;
}
.save_art_btn .icon_container .icon_svg {
  top: -2px;
  transform: rotate(0);
  animation: saveIconAnim 1000ms ease-in-out infinite alternate;
}

.btns_container,
.btn_container {
  width: 100%;
  height: auto;
  padding-top: 1rem;
}

.btns_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery_item {
  width: 10rem;
  height: auto;
  padding: 0.5rem;
  background: var(--nvc);
}
.gallery_item .label_item {
  color: var(--tc);
  text-align: center;
  margin-top: 0.5rem;
}

.window_content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  top: 5rem;
  left: 50%;
  transform: translate(-50%, 0);
  width: clamp(250px, 80%, 800px);
  transition: var(--t_m);
  max-height: calc(100% - 8rem);
}
.window_content .close_btn {
  position: absolute;
  top: 0;
  right: 0;
  fill: var(--tc);
}
.window_content .close_btn .icon_container {
  height: 2rem;
  width: 2rem;
}
.window_content .close_btn:hover, .window_content .close_btn:focus {
  background: var(--sc);
  fill: var(--tc_c);
}
.window_content .close_btn:active {
  background: var(--fc);
  fill: var(--tc_c);
}
.window_content .content_container {
  width: 100%;
  max-height: 100%;
}
.window_content .title {
  text-align: center;
}

.alert {
  display: none;
  position: absolute;
  background: var(--nvc_h);
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: var(--t_m);
  z-index: 15;
}
.alert H1 {
  color: var(--fc);
}
.alert .refresh_alert {
  display: none;
}

.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: var(--bgM_g);
  background-size: cover;
  color: var(--tc_m);
  transition: var(--t_m);
  z-index: 9;
}
.modal .window_content {
  display: none;
}
.modal .hello_modal {
  display: flex;
}
.modal .config_btn {
  width: 100%;
  height: var(--mb_s);
  fill: var(--tc);
}
.modal .config_btn:hover, .modal .config_btn:focus {
  fill: var(--tc_c);
  background: var(--sc);
}
.modal .config_btn:active {
  fill: var(--tc_c);
  background: var(--fc);
}
.modal .create_modal .inputs_controler {
  width: 100%;
  display: grid;
  grid-template-areas: "text text" "inp_num_1 check_bg" "inp_num_2 check_bg" "inp_grid inp_grid";
  row-gap: 0.5rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.modal .create_modal .column_control {
  grid-area: inp_num_1;
}
.modal .create_modal .row_control {
  grid-area: inp_num_2;
}
.modal .create_modal .bg_check_control {
  grid-area: check_bg;
}
.modal .create_modal .create_canvas {
  width: 100%;
  height: auto;
  min-height: 20rem;
}
.modal .create_modal .checkbox_control {
  padding-top: 0.5rem;
}
.modal .create_modal .text_control {
  grid-area: text;
}
.modal .gallery_modal .gallery_container {
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}
.modal .grid_modal .inputs_controler {
  margin-top: 1rem;
  width: 100%;
  display: grid;
  grid-template-areas: "inp_num_1 check_bg" "inp_num_2 check_bg";
  row-gap: 0.5rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.modal .grid_modal .column_control {
  grid-area: inp_num_1;
}
.modal .grid_modal .row_control {
  grid-area: inp_num_2;
}
.modal .grid_modal .check_control {
  grid-area: check_bg;
}
.modal .delete_modal .inputs_controler {
  flex-direction: column;
  align-items: flex-start;
}
.modal .delete_modal .inputs_controler .check_control {
  width: 100%;
}
.modal .delete_modal .inputs_controler .check_control .checkbox_control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.modal .canvas_container {
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
.modal .input_control {
  margin-top: 0.5rem;
}
.modal .input_control INPUT[type=color] {
  height: 3rem;
  width: 100%;
}

.items_container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: -moz-max-content;
  width: max-content;
  min-height: 7rem;
}
.items_container .alert_msg_items {
  position: absolute;
  width: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: var(--t_m);
  text-align: center;
}

.canvas_container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.canvas_container .canvas_svg {
  padding: 0.5rem;
  background: var(--nvc_h);
  height: auto;
  max-height: 100%;
}

.code_container {
  background: var(--nvc_h);
}
.code_container .code_header {
  border-bottom: solid 1px var(--tc);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.code_container .code_header span {
  margin-left: 1rem;
}
.code_container .code_header .code_btn {
  height: 2rem;
  width: 2rem;
  fill: var(--tc);
  padding: 0.25rem;
}
.code_container .code_header .code_btn .icon_container {
  height: 100%;
  width: auto;
}
.code_container .code_header .code_btn .icon_container svg {
  height: 100%;
  width: auto;
}
.code_container .code_header .code_btn:hover {
  background: var(--fc);
  fill: var(--tc_c);
}
.code_container .svg_code {
  display: block;
  padding: 1rem;
  overflow: hidden;
  text-wrap: wrap;
  color: var(--midGray);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.nav {
  position: absolute;
  width: auto;
  background: var(--nvc);
  z-index: 5;
  transition: var(--t_m);
}

.nav_btn {
  padding: 0.5rem;
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_btn .icon_container {
  width: 2rem;
  height: 2rem;
  fill: var(--tc);
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_btn:hover, .nav_btn:active, .nav_btn:focus {
  background: var(--fc);
  color: var(--tc_c);
}
.nav_btn:hover .icon_container, .nav_btn:active .icon_container, .nav_btn:focus .icon_container {
  fill: var(--tc_c);
}

.nav_btn_container {
  position: absolute;
  height: var(--mb_s);
  width: auto;
  background: var(--nvc);
  fill: var(--tc);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav_content {
  padding: 1rem;
}

.palette_nav,
.menu_nav {
  top: 0;
}

.palette_nav {
  left: 0;
  transform: translateY(-100%);
}
.palette_nav .menu_btn_container {
  left: 0;
}
.palette_nav .nav_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: solid 0.5rem var(--fc);
}
.palette_nav .nav_container .btns_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 0;
}
.palette_nav .nav_container .input_control {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.palette_nav .nav_container .input_control INPUT[type=color] {
  width: 8rem;
  height: 6rem;
}

.menu_nav {
  right: 0;
  transform: translateY(-100%);
}
.menu_nav .menu_btn_container {
  right: 0;
}
.menu_nav .nav_container {
  border-bottom: solid 0.5rem var(--fc);
}
.menu_nav .btns_container {
  padding-top: 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.swatches_nav {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  transform: translateY(100%);
}
.swatches_nav .nav_container {
  border-top: solid 0.5rem var(--fc);
  width: 100%;
}
.swatches_nav .swatches_btn_container {
  left: 0;
  top: -3rem;
}
.swatches_nav .swatches_btn_container .items_counter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: var(--fc);
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  top: 0.25rem;
  right: 0.25rem;
  color: var(--tc_c);
  font-weight: 400;
}
.swatches_nav .swatch_btn:hover .items_counter {
  background: var(--nvc);
  color: var(--tc);
}
.swatches_nav .items_container {
  height: 7rem;
  padding: 1rem 0;
  overflow-x: scroll;
  overflow-y: hidden;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  /* background:url("./src/img/pixels.jpg") no-repeat center; */
  background: var(--bgG);
  background-size: cover;
  overflow: hidden;
}
.wrapper .canvas_title {
  position: absolute;
  top: 0;
  left: 50%;
  text-align: center;
  background: var(--nvc);
  transform: translateX(-50%);
  min-width: 4rem;
  min-height: 1rem;
  padding: 0.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
}
.wrapper .main_canvas {
  padding: 3.5rem;
}

.swatch_item {
  height: 4rem;
  width: 6rem;
  box-shadow: 1px 1px 1rem var(--is);
  display: flex;
  justify-content: center;
  align-items: center;
}
.swatch_item .label_swatch {
  display: block;
  width: auto;
  height: auto;
  text-align: center;
  padding: 0.25rem;
  background: var(--blackOff);
  color: var(--whiteOff);
}

.inputs_controler {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  /*  &:not(:last-child) {
      margin-bottom: 0.5rem;
  } */
}

.input_control {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /*  &:not(:last-child) {
      margin-bottom: 0.5rem;
  } */
}
.input_control INPUT {
  text-align: center;
}
.input_control INPUT[type=color] {
  padding: 0;
  cursor: pointer;
  transition: all 750ms ease;
}
.input_control label {
  display: block;
  width: auto;
}

.active {
  background: var(--fc);
  color: var(--tc_c);
}
.active .icon_container {
  fill: var(--tc_c) !important;
}
.active .items_counter {
  color: var(--tc) !important;
  background: var(--nvc) !important;
}

.main_pixel {
  cursor: pointer;
}

.main_canvas {
  width: 100%;
  height: 100%;
}

/* @media screen and (min-width: 720px) {
    .nav {
        display: none;
    }
} */